.taskContainer{
    width: 100%;
    padding: 1rem;
    margin: .75rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.75rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-500);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    transition: all ease-in-out .75s;

    fieldset{
        border: none;
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        input{
            margin-right: .75rem;
            cursor: pointer;

            position: absolute;
            opacity: 0;

            &:checked{
                +label{
                    color: var(--gray-300);
                    text-decoration: line-through;
                    &::before{
                        background: var(--blue-dark);
                    }

                    &::after{
                        content: '';
                        background: white;
                        width: 2px;
                        height: 2px;

                        position: absolute;
                        top: 10px;
                        left: 5px;
                        
                        box-shadow: 
                            2px 0 0 white,
                            4px 0 0 white,
                            4px -2px 0 white,
                            4px -4px 0 white,
                            4px -6px 0 white,
                            4px -8px 0 white;
                        transform: rotate(45deg);
                    }

                    &:hover{
                        &::before{
                            background: #1e709fc7;
                        }
                    }
                }
            }
        }

        label{
            font: 400 .875rem/1.4 'Inter', sans-serif;
            color: var(--gray-100);
            cursor: pointer;
            position: relative;
            padding: 0;

            display: flex;
            align-items: flex-start;

            transition: all ease-in-out .85s;

            &::before{
                content: '';

                margin-right: 10px;
                width: 16px;
                height: 16px;
                background: transparent;

                border: 2px solid var(--blue-dark);
                border-radius: 50px;
            }

            &:hover{
                &::before{
                    background: #1e709f3b;
                }
            }
        }
    }

    button{
        cursor: pointer;
        svg{
            line, path{
                stroke: var(--gray-300);
            }
        }

        &:hover{
            svg{
                line, path{
                    stroke: var(--red);
                }
            }
        }
    }

    &:hover{
        background: var(--gray-400);
    }
}